.test {
    height: 100vh;
}
h1 {
    font-size: 3rem !important;
}

 h2 {
    font-size: 2.5rem !important;
    margin-top: 2% !important;
    margin-bottom: 15%;
}

 .links a{
    color:#1ca086;
    background-image: none;
    opacity: 0.3;
    margin-top: 15%;
   
}

.button {
    margin-top: 15%;
}

